@page "/HittaButik"
@using Microsoft.AspNetCore.Authorization;


<div class="container">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-8 mx-auto">


            <div class="card mt-5">

                <div class="text-center">
                    <h1>Här hittar du glassarna</h1>
                </div>

                <div class="card-body">

                    <table class="table table-striped mb-5">

                        <tbody>
                            <tr>
                                <td>

                                    <div>
                                        <a href="https://handlaprivatkund.ica.se/stores/1004219/search?q=glass"><img src="https://www.benjerry.se/files/live/sites/systemsite/files/find-us/ICA-logotyp-211x75.png" /></a>
                                    </div>
                                </td>
                                <td>
                                    Klicka hem lite glass nästa du handlar mat online från din ICA-butik på nätet. Vi lovar att du inte kommer ångra det!
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div>
                                        <a href="https://www.hemkop.se/sok?q=glass&sort=relevance&page=1"><img src="https://www.benjerry.se/files/live/sites/systemsite/files/find-us/Hemkop_nya_CMYK.png" /></a>
                                    </div>
                                </td>
                                <td>
                                    Handla glass tillsammans med dina matvaror smidigt online hos Hemköp
                                </td>
                            </tr>

                        </tbody>


                    </table>

                </div>

            </div>

        </div>


        <div class="col-lg-2"></div>

    </div>

</div>