@page "/HittaButik"
@using Microsoft.AspNetCore.Authorization;


<PageTitle>Butiker</PageTitle>

<div class="container">

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 col-sm-12 mx-auto">


            <div class="card mt-5">

                <div class="card-header text-center">
                    <h1>Här hittar du glassarna</h1>
                </div>

                <div class="card-body">


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                    <div class=" col-lg-2 col-md-2 col-sm-12 col-12 float-lg-start float-md-start text-center mx-sm-auto ">
                        <a href="https://handlaprivatkund.ica.se/stores/1004219/search?q=glass"><img src="https://www.benjerry.se/files/live/sites/systemsite/files/find-us/ICA-logotyp-211x75.png" /></a>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 float-lg-end float-md-end text-sm-center">
                                <h5 class="ps-lg-5 ps-md-5 mt-sm-3">Klicka hem lite glass nästa du handlar mat online från din ICA-butik på nätet. Vi lovar att du inte kommer ångra det!</h5>
                    </div>
                    <div class=""></div>
                        </li>
                        <li class="list-group-item">

                            <div class=" col-lg-2 col-md-2 col-sm-12 col-12 float-lg-start float-md-start text-center mx-sm-auto ">
                                 <a href="https://www.hemkop.se/sok?q=glass&sort=relevance&page=1"><img style="width:220px;" src="https://www.benjerry.se/files/live/sites/systemsite/files/find-us/Hemkop_nya_CMYK.png" /></a>
                                    </div>

                            <div class="col-lg-8 col-md-8 col-sm-12 float-lg-end float-md-end text-sm-center">
                                <h5 class="ps-lg-5  ps-md-5 mt-sm-3">Handla glass tillsammans med dina matvaror smidigt online hos Hemköp</h5>
                            </div>
                            <div class=""></div>
                        </li>
                    </ul>

                    
                </div>

            </div>

        </div>


        <div class="col-lg-2"></div>

    </div>

</div>